body{
    font-family: Roboto;
    box-sizing: border-box;
}

img.bg {
    display: inline-block;

    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}

nav {
    position: fixed;
    background-color: grey;
    position: fixed;
    width: 100%;
    list-style: none;
}

.first_a {
        padding-left: 110px;
    }

a::after {
    content: "  |";
}

a:hover {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

.logo {
    position: absolute;
    margin-left: 80px;
    margin-top: 5px;
    margin-bottom: 5px;

    width: 50px;
    height: 50px;

    border: 2px solid black;
    border-radius: 50%;
}

li {
    display: inline-block;
    height: 40px;
}

.dotted_border {
    position: absolute;
    left: 350px;
    margin-top: 250px;

    height: 300px;
    width: 600px;

    border: 10px green dotted;
}

.dog, .cat {
    position: absolute;
    width: 200px;
}

.dog {
    top: 150px;
    left: 450px;
}

.cat {
    right: 500px;
    bottom: 200px;
}